name: Release CI

on:
  push:
    branches:
      - develop

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  release-please:
    runs-on: self-hosted
    steps:
      - name: Run Release Please
        id: release
        uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          release-type: simple
          target-branch: develop
          version: 2.1.2
