name: Update Browser Version

# 手動觸發
on:
  workflow_dispatch:
  # 測試用
  push:
    branches:
      - test

jobs:
  update-browser-version:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ 取得 repo，只抓 BROWSER_VERSION
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          sparse-checkout: |
            BROWSER_VERSION
          sparse-checkout-cone-mode: false

      # 2️⃣ 取得最新版本並更新檔案
      - name: Update BROWSER_VERSION file
        run: |
          VERSION=$(curl -s https://appversion.115.com/1/web/1.0/api/getMultiVer | jq -r '.data["Linux-115chrome"].version_code')
          echo "$VERSION" > BROWSER_VERSION
          cat BROWSER_VERSION

      # 3️⃣ 取得 GitHub 使用者顯示名稱
      - name: Get GitHub Profile Name
        id: github-profile
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ACTOR_NAME="$(gh api /users/${GITHUB_ACTOR} | jq .name -r)"
          ACTOR_NAME="${ACTOR_NAME:-$GITHUB_ACTOR}"
          echo "ACTOR_NAME=$ACTOR_NAME" >> $GITHUB_OUTPUT
          echo "ACTOR_NAME=$ACTOR_NAME"

      # 4️⃣ 建立 PR
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          commit-message: "fix: 更新 BROWSER_VERSION"
          branch: update-browser-version-${{ github.run_id }}
          title: "fix: 更新 BROWSER_VERSION"
          body: "此 PR 由 GitHub Actions 自動建立，用於更新 BROWSER_VERSION 檔案。"
          author: ${{ steps.github-profile.outputs.ACTOR_NAME }} <${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com>
